.applicant__card {
  width: 302px;
  padding: 10px;
  height: 159px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #303f6080;
  border-radius: 5px;
}
.card_header {
  display: flex;
}
.card_header_title {
  margin-left: 10px;
}
.card_footer h5 {
  /* font-size: 13px; */
  display: block;
}
.card_container {
  width: 690px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5px;
  padding-left: 20px;
  padding-top: 20px;
  height: 598px;
  /* UI Properties */
  background: #a9afbc 0% 0% no-repeat padding-box;
  border-radius: 10px;
  overflow: scroll;
}
